.leaf A:link {text-decoration: none; } 
.leaf A:visited {text-decoration: none; }
.leaf A:focus {text-transform: uppercase;}    
.leaf A {color: #006DA2;font: menu;}
.leaf A:hover {
	color: Red;

}
.leaf {color: #006DA2;font: menu;}

.leafWhite A:link {text-decoration: none; } 
.leafWhite A:visited {text-decoration: none; }
.leafWhite A:focus {text-transform: uppercase;}    
.leafWhite A {color: #00BFFF;font: menu;}
.leafWhite A:hover {color: Red;font-weight: 100;}

.leafRed A:link {text-decoration: none; }
.leafRed A:visited {text-decoration: none; }
.leafRed A:focus {text-transform: uppercase;}    
.leafRed A {color: Red;font: menu;}
.leafRed A:hover {color: #FF1493;}
.leafRed {color: Red;font: menu;}

.page_section A:link {text-decoration: none; }
.page_section A:visited {text-decoration: none; }    
.page_section A {
	color: #2D4F6C;
	font-weight: bold;
	font: smaller monospace;
}
.page_section A:hover {color: #009ACA;}


.page_section_active A:link {text-decoration: none; }
.page_section_active A:visited {text-decoration: none; }    
.page_section_active A {
	color: #009ACA;
	font-weight: bold;
	font: smaller monospace;
}
.page_section_active A:hover {color: #009ACA;}


.page_section_NEW A:link {text-decoration: none; }
.page_section_NEW A:visited {text-decoration: none; }    
.page_section_NEW A {
	color: red;
	font-weight: bold;
	font: smaller monospace;
}
.page_section_NEW A:hover {color: #009ACA;}


.page_section_text {
	color: #2D4F6C;
	font: smaller monospace;
	text-align: left;
}

.error_section_warnings {
	color: Green;
	font: smaller monospace;
	text-align: left;
}
.error_section_errors {
	color: Red;
	font: smaller monospace;
	text-align: left;
}

.block_background_old{
	border: thin outset #C1C1C1;
	background: #f0b80f;
}
.block_background{
	background: #EFCC9C;
	border-color: #C1C1C1;
	border-width: thin;
	border-style: groove;
}
.block_{
	border: thin ;
	background: #f0b80f;
}
.text_left {
	color: Black;
	font-weight: bold;
	text-align: left;
	font-family: monospace;
}
.text_right {
	color: Black;
	font-weight: normal;
	text-align: left;
	font-family: monospace;
	background-color: #f0b80f;
}
.text_def {
	color: #FF7373;
	font-weight: bold;
	font-family: monospace;
	font-size: smaller;
	font-style: normal;
}
.text_defL {
	color: White;
	font-family: monospace;
	font-size: xx-small;
	font-style: normal;
	background-color: #f0b80f;
	text-align: left;
}
.text_header {
	color: #009ACA;
	font-weight: bold;
	text-align: right;
	font-family: monospace;
	font-size: larger;
}
.text_cell {
	color: Black;
	text-align: left;
	font-family: monospace;
	font-size: smaller;
}
.text_coll {
	color: Black;
	text-align: center;
	font-family: monospace;
	font-size: smaller;
	background-color: #f0b80f;
	font-weight: bold;
}
.text_header_table {
	color: White;
	font-weight: bold;
	text-align: left;
	font-family: monospace;
	font-size: larger;
	background-color: #f0b80f;
}
.menu_system A:link {text-decoration: none; }
.menu_system A:visited {text-decoration: none; }
.menu_system A:focus {text-transform: uppercase;}    
.menu_system A {
	color: #2D4F6C;
	font-weight: bold;
	font: smaller monospace;
	font-size: xx-small;
}
.menu_system A:hover {
	color: #009ACA;
}


}