<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>neoHort5-poi-xlsx</display-name>
	<filter>
		<filter-name>filter_jsp</filter-name>
		<display-name>filter_jsp</display-name>
		<description></description>
		<filter-class>neohort.service.filter.filter_jsp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter_jsp</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filter_jsp</filter-name>
		<url-pattern>/report_creator</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>log</servlet-name>
		<display-name>log</display-name>
		<servlet-class>neohort.log.log</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>creator_iHort</servlet-name>
		<display-name>creator_iHort</display-name>
		<servlet-class>neohort.universal.output.creator_iHort</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>creator_iHort</servlet-name>
		<url-pattern>/report_creator</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
